

<div class="desktop">
  <ion-header>

    <ion-navbar>


    <div  class="ion-text-center">
    <ion-button fill="clear"> <span routerLink="/spalsh">Home</span></ion-button>
    <ion-button fill="clear"> <span routerLink="/employeeList">Employee List</span></ion-button>
    <ion-button fill="clear"> <span routerLink="/posts">Posts</span></ion-button>
    <ion-button fill="clear"> <span routerLink="/contactus">Contact</span></ion-button>

  </div>

    </ion-navbar>

  </ion-header>

  </div>
  <div class= containter>
    <router-outlet></router-outlet>
  </div>

