<div class="splash-container">
<div class="outer-container">
<h2 class="h2-heading">

  Welcome to XYZ Store
</h2>

</div>

<ion-grid class= "main-container">
  <ion-row>
    <ion-col>
      <div>
        <ion-row>
          <ion-col>
            <div>
           <h2 class="h2-heading">
            Contrary to popular belief, Lorem Ipsum is not simply random text.
           </h2>
           <p class="h2-heading">
            It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
           </p>
            </div>
          </ion-col>

        </ion-row>
        <ion-row>
          <ion-col>
            <div>

              <ion-row>
                <ion-col>
                  <div>
                    <ion-button> Get Started </ion-button>
                  </div>
                </ion-col>
                <ion-col>
                  <div>
                    <ion-button> Explore the docs </ion-button>
                  </div>
                </ion-col>

              </ion-row>

            </div>
          </ion-col>

        </ion-row>

      </div>
    </ion-col>
    <ion-col>
      <div >

        <img src="https://blogimage.vantagecircle.com/vcblogimages/2021/05/employee-experience.png" alt="Shopping" class="splash-image">


      </div>
    </ion-col>

  </ion-row>
</ion-grid>



<div class="footer">

  <div class= "spash-search">
    <ion-searchbar value="Ionic" ></ion-searchbar>
  </div>
<ion-footer>

  <ion-navbar>


  <div  class="ion-text-center">

  <ion-button fill="clear"> <span routerLink="/contactus">Contact</span></ion-button>

</div>


  </ion-navbar>
</ion-footer>
</div>
</div>

